@import url("/russia/fonts/roboto/stylesheet.css");


form{
    background: url("/russia/1014.jpg");
    background-size: 100%;
    background-position: fixed;
    background-blend-mode: multiply;
    background-color: #00000034;
    padding: 2%;
    border-radius: 10px;
    border: #ffffff solid 1px;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-style: normal;
    color: #ffffff79;
   animation: glava 15s infinite;
}
@keyframes glava {
    0% {
        background: url("/russia/Putin.jpg");
        background-size: 100%;
        background-position: fixed;
        background-blend-mode: multiply;
        background-color: #00000034;
        color: #000000;
    }
    25% {
        background: url("/russia/premier.jpeg");
        background-size: 100%;
        background-position: fixed;
        background-blend-mode: multiply;
        background-color: #00000034;
        color: #ffffff79;
    }
    50% {
        background: url("/russia/scale_1200.jpeg");
        background-size: 100%;
        background-position: fixed;
        background-blend-mode: multiply;
        background-color: #00000034;
        color: #ffffff79;
    }
    75% {
        background: url("/russia/1200px-Official_portrait_of_Sergey_Shoigu.jpg");
        background-size: 100%;
        background-position: fixed;
        background-blend-mode: multiply;
        background-color: #00000034;
        color: #000000
    }
    100% {
        background: url("/russia/Putin.jpg");
        background-size: 100%;
        background-position: fixed;
        background-blend-mode: multiply;
        background-color: #00000034;
        color: #000000
    }
}
 
 INPUT[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    color: #ffe;
   }
   INPUT[type="number"] {
    background-color: rgba(0, 0, 0, 0);
    color: #ffe;
   }