@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Rubik+Mono+One&family=Ruslan+Display&family=Stalinist+One&display=swap');

header {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

header div {
    color: white;
    background-color: #018de9;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header div a{
    text-decoration: none;
    color:white;
}
header div a:hover{
    text-decoration: none;
    color:white;
}
header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2%;
}
#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}
header a:active{
    color: red;
    border: solid 1px;
    border-radius: 10px;
    
}
.nav-country {
    color: white;
    background-color: #d62718;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav-country a:hover {
    text-decoration: none;
    color:white;
}
header a:hover {
    text-decoration: none;
    color: red;
}

main {
    font-family: 'Bellota', cursive;
    font-size: 16px;
}
a{
    text-align: center;
    margin: 1%;
}
.derf{
    color: white;
}




header a:hover{
    transition: 0.5s;
    border-radius: 10px;
    border: solid 1px;
}

.rus {
    background: rgb(214, 39, 24);
    background: linear-gradient(315deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    color: black;
    animation: tyr 4s infinite;
}

.rus a {
    color: black;
}

.rus a:hover {
    color: black;
}

@keyframes tyr {
    0% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    25% {
        background: rgb(214, 39, 24);
        background: linear-gradient(0deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    100% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
}