@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Rubik+Mono+One&family=Ruslan+Display&family=Stalinist+One&display=swap');
@import url("/russia/fonts/roboto/stylesheet.css");
header {
    color: rgb(0, 0, 0);
    background-color: #000000;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

header div {
    color: white;
    background-color: #ffce00;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header div a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
header div a:hover{
    text-decoration: none;
    color: black;}

header a {
    text-decoration: none;
    color: #ffffff;
    margin: 2%;
}
#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}
a:active{
    color: red;
    border: solid 1px;
    border-radius: 10px;
    
}
.nav-country {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav-country a{
    color: black;
}
.nav-country a:hover {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
header a:hover {
    text-decoration: none;
    color: red;
}


a{
    text-align: center;
    margin: 1%;
}
.derf{
    color: white;
}



header a:hover{
    transition: 0.5s;
    border-radius: 10px;
    border: solid 1px;
}


main{
    background: rgb(219,13,32);
    background: linear-gradient(45deg, rgba(219,13,32,1) 0%, rgba(219,13,32,1) 18%, rgba(39,135,245,1) 43%, rgba(38,132,229,1) 54%, rgba(29,109,115,1) 67%, rgba(21,90,21,1) 100%);
}


