* {
    margin: 0%;
    padding: 0%;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    background-color: black;
    font-size: 15px;
    height: 100%;
}



div a {
    text-decoration: none;
    color: white;
    margin: 2%;
}

div a:hover {
    text-decoration: none;
    color: red;
    margin: 2%;
}

#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}

#nav-country {
    color: white;
    background-color: #155a15;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header a:hover {
    text-decoration: none;
    color: red;
}

main {
    background: rgb(213, 43, 30);
    background: linear-gradient(45deg, rgba(213, 43, 30, 1) 0%, rgba(0, 57, 166, 1) 50%, rgba(100, 200, 255, 1) 100%);
    color: white;
    width: 100%;
    height: auto;
}

p {
    text-indent: 30px;
}

#gimn {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
}

hr {
    color: white;
}



.photo {
    float: right;
    width: 250px;
    /* Обтекание картинки по левому краю */
    margin-left: 10px;
    /* Отступ слева */
    margin-bottom: 10px;
    /* Отступ снизу */
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 1%;
}
.photo img{
    width: 100%;
    border-radius: 12px;
}
#ussr {
    padding-left: 0px;
    /* Отступ слева */
    padding-bottom: 0px;
    /* Отступ снизу */
}

.ussr {
    background-color: black;
    color: white;
}

#bpart {
    float: left;
    width: 20px;
    height: 20px;
    background: red;
}

#part {
    float: left;
    width: 20px;
    height: 20px;
    background: blue;
}