@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Rubik+Mono+One&family=Ruslan+Display&family=Stalinist+One&display=swap');

@import url("/russia/fonts/roboto/stylesheet.css");
header {
    color: rgb(0, 0, 0);
    background: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-style: normal;
    animation: header3 15s infinite;
}

@keyframes header3 {
    0% {
        color: rgb(0, 0, 0);
        background: #ffffff;
    }
    25% {
        background: #000000;
        color: #ffffff;
    }
    50% {
        background: rgb(145, 27, 16);
        color: #ffffff;
    }
    75% {
      
        color: rgb(0, 0, 0);
        background: #ffffff;
    }
    100% {
        color: rgb(0, 0, 0);
        background: #ffffff;
    }
}

header div {
    color: white;
    background-color: #0036a7;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    animation: header4 15s infinite;
}
@keyframes header4 {
    0% {
        color: rgb(0, 0, 0);
        background: #0036a7;
    }
    25% {
        background: #ffce00;
        color: #ffffff;
    }
    50% {
        background: rgb(145, 27, 16);
        color: #ffffff;
    }
    75% {
     
        color: rgb(0, 0, 0);
        background: #018de9;
    }
    100% {
        color: rgb(0, 0, 0);
        background: #0036a7;
    }
}

header div a {
    text-decoration: none;
    color: white;
    animation: header6 15s infinite;
}
@keyframes header6 {
    0% {
        color: rgb(255, 255, 255);
       
    }
    25% {
 
        color: #000000;
    }
    50% {
     
        color: #ffffff;
    }
    75% {

        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(255, 255, 255);
        
    }
}

header div a:hover {
    text-decoration: none;
    color: white;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2%;
    animation: header7 15s infinite;
}
@keyframes header7 {
    0% {
        color: rgb(0, 0, 0);
       
    }
    25% {
      
        color: #ffffff;
    }
    50% {
     
        color: #ffffff;
    }
    75% {

        color: rgb(0, 0, 0);
    }
    100% {
        color: rgb(0, 0, 0);
        
    }
}
#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}

a:active {
    color: red;
    border: solid 1px;
    border-radius: 10px;
}

.nav-country {
    color: white;
    background: #d62718;
    background: linear-gradient(0deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 100%);
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    animation: header5 15s infinite;
}
@keyframes header5 {
    0% {
        color: rgb(0, 0, 0);
        background: #d62718;
    }
    25% {
        background: #ffffff;
        color: #000000;
    }
    50% {
        background: rgb(145, 27, 16);
        color: #ffffff;
    }
    75% {
       
        color: rgb(0, 0, 0);
        background: #d62718;
    }
    100% {
        color: rgb(0, 0, 0);
        background: #d62718;
    }
}

.nav-country a:hover {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: none;
    color: red;
}

main {
    font-family: 'Bellota', cursive;
    font-size: 16px;
}

a {
    text-align: center;
    margin: 1%;
}

.derf {
    color: white;
}

footer {
    width: 100%;
    height: auto;
    background: #343c50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-info{
    color: white;
  
    width: 100%;
    height: auto;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.footer-info a{
    text-decoration: none;
    font-size: 12px;
    color: #c2c2c2;
  
   
}
.dre {
    width: 32px;
    border-radius: 1px;

}
.mini-dre{
    width: 32px;
    border-radius: 1px;
}
footer a {
    text-decoration: none;
    font-size: 15px;
    color: #c2c2c2;
}

footer a:hover {
    text-decoration: none;
    color: green;
}

footer p {
    text-indent: 0px;
}

header a:hover {
    transition: 0.5s;
    border-radius: 10px;
    border: solid 1px;
}

.rus {
    background: rgb(214, 39, 24);
    background: linear-gradient(315deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    color: black;
    animation: tyr 4s infinite;
}

.rus a {
    color: black;
}

.rus a:hover {
    color: black;
}

@keyframes tyr {
    0% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    25% {
        background: rgb(214, 39, 24);
        background: linear-gradient(0deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    100% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
}

/*Темная зона*/


